*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
  font-family: 'Roboto', sans-serif;
}

header, footer
{
  background-color: #1f2937;
  text-align: center;
  color: #f9faf8;
  width: 100vw;
  padding: 2vw;
}

header a, footer a
{
  color: #f9faf8;
}

.attribution-card
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  border: #e5e7eb 5px solid;
  margin: 2vw;
  padding: 2vw;
}

img
{
  width: 256px;
}

ul
{
  list-style: circle;
  padding: 2vw;
}

ul li
{
  font-size: x-large;
}