*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
  font-family: 'Roboto', sans-serif;
}

header
{
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo
{
  font-size: 24px;
  color: #f9faf8;
}

ul
{
  display: flex;
  list-style: none;
  gap: 15px;
}

li a
{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

li a:hover
{
  color: #3882f6;
}

section
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  height: auto;
}

#home
{
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

#home p
{
  font-size: 18px;
  color: #e5e7eb;
}

#projects
{
  flex-direction: column;
}

#projects h2
{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.projects-grid
{
  display: flex;
  flex-direction: row;
  margin: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

#projects p
{
  font-size: 18px;
}

#projects p em
{
  color: #f9faf8;
  background-color: #1f2937;
}

.card
{
  width: 256px;
  text-align: center;
}

.card img
{
  border-radius: 15px;
}

#projects img
{
  border: #3882f6 5px solid;
}