*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
  font-family: 'Roboto', sans-serif;
}

header
{
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo
{
  font-size: 24px;
  color: #f9faf8;
}

ul
{
  display: flex;
  list-style: none;
  gap: 15px;
}

li a
{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

li a:hover
{
  color: #3882f6;
}

section
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  height: auto;
}

.return-link
{
  background-color: #f9faf8;
  color: #1f2937;
  padding: 5px;
  margin-top: 10vh;
  border-radius: 15px;
  text-decoration: none;
  border: #e5e7eb 1px solid;
}

#home
{
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.informative-text
{
  font-size: 18px;
}

#home p
{
  color: #e5e7eb;
}

#home img
{
  width: 40vw;
}

#projects
{
  flex-direction: column;
}

#projects h2
{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.grid
{
  display: flex;
  flex-direction: row;
  margin: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

#projects p em
{
  color: #f9faf8;
  background-color: #1f2937;
}

.card
{
  width: 256px;
  text-align: center;
}

.card img
{
  border-radius: 15px;
}

#projects img
{
  border: #1f2937 5px solid;
  width: 10vw;
}

#projects img:hover
{
  border: #3882f6 5px solid;
}

#projects .grid a
{
  text-decoration: none;
  color: #1f2937;
}

#projects .grid a:hover
{
  color: #3882f6;
}

#technologies
{
  background-color: #e5e7eb;
  flex-direction: column;
}

#technologies img
{
  width: 10vw;
}

#contact
{
  display: flex;
  flex-direction: column;
}

#call2action
{
  display: flex;
  flex-direction: column;
  background-color: #3882f6;
  padding: 5vw;
  align-items: center;
  border-radius: 15px;
  color: #f9faf8;
}

#call2action .card
{
  width: auto;
}

#call2action a
{
  border: #f9faf8 5px solid;
  border-radius: 15px;
  text-decoration: none;
  color: #f9faf8;
}

#call2action a:hover
{
  border-color: #1f2937;
}

footer
{
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 2vw;
  display: flex;
  justify-content: space-around;
}

footer a
{
  text-decoration: none;
  color: #f9faf8;
}

footer a:hover
{
  color: #3882f6;
}